<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Multiple Columns Template</TITLE>
</head>
<body>

<h1>Image Carousel</h1>



<h2>TEMPLATE_CAROUSEL:</h2>

<!-- ###TEMPLATE_CAROUSEL### begin -->
<ul id="###KEY###" class="###CLASS###"> 
	<!-- ###IMAGES### -->
	<li>###IMAGE###</li>
	<!-- ###IMAGES### -->
</ul>
<!-- ###TEMPLATE_CAROUSEL### end -->

</body>
</html>

